a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Lato Regular';
	font-size: 18px;
	line-height: 26px;
	color: #333333;
}

.content-box-component {
	box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border:0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 500px;
	margin: 0 auto;
}

.btn {
	width: 30px;
	height: 30px;
	background-color: transparent;
	box-shadow: none;
	border: none;
	cursor: pointer;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	border: 1px solid $akcent;
	box-shadow: none;
	cursor: pointer;
	&:hover {
		color: white;
		background-color: $hoverBtnFon;
	}
}

.checkbox {
	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}